{% extends 'base.html' %}
{% block title %}
	Detail
{% endblock %}

{% block content %}
    <div class="mt-4 bg-light p-4">
        <div class="row">
            <div class="col-5">
                <img src="{{ place.image.url }}" alt="" width="500px">
            </div>
            <div class="col-6">
                <h2><b>{{ place.name }}</b></h2>
                <p>{{ place.description }}</p>
                <span><i class="fa-solid fa-location-dot"></i> {{ place.address }}</span>
            </div>
        </div>
    </div>

    <div class="mt-4 bg-light p-4">
    <h1>Leave a comment</h1>
        <form action="{% url 'places:AddCommentView' place.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>


    <div class="mt-4 bg-light p-4 mb-4">
    <h1>Comments</h1>
        {% for comment in place.comments.all %}
        	<div class="card w-100 mt-3">
          <div class="card-body">
            <p>{{ comment.comment }}</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img style="border-radius: 50%" src="{% if user.image %}{{ user.image.url }}{% else %}https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg{% endif %}" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2">{{ comment.user.username }}</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0"><i class="fa-solid fa-user" style="font-size: 12px"></i> {{ comment.user.username }} rated it </p>&nbsp;
                <p class="small text-muted mb-0">{{ comment.stars_given }} stars</p>&nbsp;
                <p class="small text-muted mb-0">| <i class="fa-solid fa-calendar-days" style="font-size: 12px"></i>&nbsp;{{ comment.created_at }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}